# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ and Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter and Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
**/Flutter/ephemeral/
**/GeneratedPluginRegistrant.*
**/flutter/generated_plugin_registrant.*
**/flutter/generated_plugins.cmake

# Flutter build artifacts
app.*.symbols
app.*.map.json

# Android build variants
/android/app/debug
/android/app/profile
/android/app/release
